.git
node_modules
.env

storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views

# Si tu utilises Vite et que tu as déjà build en local, tu peux garder public/build
# sinon ne mets pas public/build ici.
# public/build
